:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --Bright-blue-faint: hsla(263, 53%, 50%, 0.993);
  --Font-size-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--Pale-blue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
  font-size: 23px;
  color: var(--Dark-blue);
}

.hero {
  max-width: 350px;
  border-radius: 15px 15px 0 0;
}

.text-content {
  display: grid;
  background-color: white;
  max-width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 15px 15px;
  margin-top: -10px;
}

.content-description {
  font-size: 17px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.5rem;
  opacity: 0.55;
}

.price-value {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-pale-blue);
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

.music {
  width: 45px;
  height: 45px;
}

.annual-change {
  margin: auto;
  font-size: 15px;
  font-weight: 550;
  opacity: 0.9;
}

a {
  margin-right: -60px;
  color: var(--Bright-blue);
}

.price {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 550;
  opacity: 0.5;
}

button {
  border: none;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--Bright-blue);
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 550;
  box-shadow: 1px 15px 8px var(--Pale-blue);
}

.end {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 550;
  opacity: 0.55;
}


@media (max-width:350px){
  
   .main-container{
    max-width: 300px;
  }

  .hero{
    width: 300px;
  }

   .price-value{
    max-width: 250px;
    padding: 5px;
  } 

  .text-content{
    text-align: center;
  }

  a{
    margin-right: 3px;
  }
}




@media (min-width: 600px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 16px;
  }

  .content-description {
    font-size: 16px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--Bright-blue);
    cursor: pointer;
    opacity: 0.7;
  }

  .end {
    font-weight: 600;
    cursor: pointer;
  }
}
